In [7]:
import pandas as pd
import numpy as np

# Series 생성

In [3]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [4]:
# index 입력
s2 = pd.Series([1,2,3], ['a','b',3]) 
s2

a    1
b    2
3    3
dtype: int64

In [11]:
# dtype을 통해 메모리 optimize 
s3 = pd.Series(np.arange(5), np.arange(100,105), dtype=np.int16)
print(s3[102])
s3

2

100    0
101    1
102    2
103    3
104    4
dtype: int16

In [12]:
# index 재사용
s4 = pd.Series(np.arange(5), s3.index)
s4

100    0
101    1
102    2
103    3
104    4
dtype: int64

# Series 함수를 활용한 데이터 분석
- 📌pandas는 NaN값을 무시하고 계산한다.
    - 반면 numpy는 NaN값이 있으면 계산을 못한다.
- 📌a.value_counts(): 데이터 분포 확인할 때 많이 사용하는 함수
- 출력
    - a.head(n=2)
    - a.tail(n=2)

In [13]:
# not a number, 누락 데이터
a = pd.Series([np.NaN, 1,2,3,4])
a

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [14]:
a.size

(5,)

In [15]:
a.shape

(5,)

In [21]:
a.unique()

array([nan,  1.,  2.,  3.,  4.])

In [20]:
a.count() # nan을 제외한 개수

4

In [23]:
# 데이터 분포 확인할 때 많이 사용하는 함수
a.value_counts()

4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [25]:
# 해당 인덱스에 해당하는 새로운 series를 가져오기
a[[0,1,2]]

0    NaN
1    1.0
2    2.0
dtype: float64

In [26]:
# 출력
a.head(n=2)

0    NaN
1    1.0
dtype: float64

In [27]:
a.tail(n=2)

3    3.0
4    4.0
dtype: float64

# 데이터 연산하기
- 📌같은 index끼리 연산된다.
- Broadcasting: 예시) s1**2, s1+s2

# Boolean Selection
- 예시) 
    - s[s>5]
    - s[s.index>5]
    - s[(s>5) &[s<8]]

# 데이터 변경 & 슬라이싱
- 📌대부분 원본을 변환한 복사본을 반환한다.
- 📌inplace=True 옵션을 통해 원본을 변경할 수 있다.
- 예시)
    - s.drop('index'): 해당 인덱스의 값을 지운 복사본을 반환한다.
    - s.drop('index', inplace=True): 해당 인덱스의 값을 지운 복사본을 반환한다.